@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap" rel="stylesheet');

html,body {
    height: 100%;
    margin: 0;
    border: 0;
}

body {
    background-image: url("/static/images/terrain_foot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Lobster', cursive;
  background-color: rgba(50, 205, 50, .75);
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

header img {
  width: 50px;
  margin-right: 10px;
}

header h1 {
  margin: 0;
  line-height: 50px;
}

header h1, header img {
  display: inline-block;
  vertical-align: middle;
}

header div {
  text-align: right;
  margin-left: auto;
}

header h6 {
  margin: 0;
}

header h6:first-child {
  margin-bottom: 5px;
}

main {
  text-align: left;
  height: 100%;
  width: 100%;
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
  font-family: 'Alkatra', cursive;
}

#club_list h4 {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 2rem;
}

#infos h2, #infos p, #infos h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: black;
}


footer {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
font-family: 'Lobster', sans-serif;
background-color: rgba(255, 235, 205, 0.5);
box-shadow: 0px -3px 10px rgba(0,0,0,0.5);
text-transform: uppercase;
font-size: 14px;
}

footer form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}