
<div id="joueur_list_B">

    <div id="joueur-formulaire_B">
        <form id="joueur-form_B">
            <select name="joueur_B">
                <option value="" selected>- Sélectionnez le joueur B -</option>
                {% for joueur in joueurs_B %}
                <option value="{{ joueur.id }}">{{ joueur.nom_joueur }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Afficher les statistiques">
        </form>
    </div>

    <div id="list_joueur_B"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('#joueur-form_B').submit(function (e) {
                e.preventDefault();
                var url = '{% url "joueur_stats_B" %}';
                var joueur_B = $('select[name="joueur_B"]').val();
                $.ajax({
                    url: url,
                    data: {'joueur_B': joueur_B},
                    dataType: 'html',
                    success: function (data) {
                        $('#list_joueur_B').html(data);
                    }
                });
            });
        });
    </script>

</div>

